.advertisement{
    width: fit-content;
    margin: 0 auto;
    padding: 20px 0 44px 0; 

    img{
        max-width: 100%;
        height: auto;
    }

    &_footnote{
        margin-top: 12px;
        font-size: 12px;
        line-height: 18px;
    }

    @include desktop{
        padding: 60px 0 70px 0; 

        &_footnote{
            margin-top: 10px; 
        }
    }
}