:root{
    font-family: "Onest", sans-serif;
    font-weight: 400;  
    box-sizing: border-box; 
    font-size:  3.125vw;  
}

*,
*::before,
*::after { 
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable; 
}

body { 
  margin-top: 80px;
  font-size: 14px;
  line-height: 20px;  
  color: $font; 
  background-color: $bg-main;
  scrollbar-gutter: stable; 
  overflow-x: hidden;   

  &.not-scroll{
    overflow: hidden;  
  }

  @include desktop{
    margin-top: 195px;
  }
}

h1{
  font-size: 34px;
  font-weight: 600;
  line-height: 38px; 
  margin-bottom: 11px;
  letter-spacing: -0.5px;

  @include desktop{
    font-size: 52px; 
    line-height: 48px; 
    margin-bottom: 37px;
    letter-spacing: -1px;
  }
}

h2{
  font-size: 22px;
  font-weight: 500;
  line-height: 30px; 
  margin-bottom: 9px;
  letter-spacing: -0.2px; 

  &.max{
    font-size: 28px;
    line-height: 32px; 
    width: 220px;
  }

  @include desktop{
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 16px;
    letter-spacing: -0.5px; 

    &.max{
      font-size: 40px;
      line-height: 36px; 
      width: 100%;
      letter-spacing: -0.8px; 
    }
  }
}



section{
  padding-bottom: 50px;

  @include desktop{ 
    padding-bottom: 80px;
  }
}

.bg-grey{
  background-color: $bg-grey;
}
.p-0{
  padding: 0;
}

.container{
  width: 28rem;
  margin: 0 auto; 

  @include desktop{
    width: 738px;
  }
} 

.btn-blue{
    padding: 10px 20px;
    background-color: $main-blue;
    color: $white;
    border-radius: 100px; 
    font-weight: 500;

    &.max{ 
      padding: 15px 20px;
    }

    &:hover{
      background-color: $blue-hover;
    }
}
 

footer{
  ul{ 
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 0;
  }
}