//Цвета проекта 
$white: #FFFFFF;  
$black: #000000;
$grey: #777777;
$yellow: #FFB400;

$font: #202326;

$bg-main: #F8F8FA; 
$bg-grey: #F1F1F3; 
$bg-modal-overlay: rgba(32, 35, 38, 0.7);

$border-grey: #EDEDF1;
$main-blue: #2D1AA7;
$blue-hover:rgb(46, 17, 233);



// Z индексы 
$z-bg: -10;
$z-normal: 0;
$z-on-top: 10;
$z-swiper-btn: 50;
$z-sticky-header: 100;
$z-btn-nav: 101;
